.page {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
}



.left {
    flex: 0 0 300px;
}

.right {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.table {
    width: 100%;
}